# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore build folders
build/
dist/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store

# Ignore logs
*.log

# Ignore npm debug logs
npm-debug.log*

# Ignore package-lock.json (optional, if you use yarn)
package-lock.json